<main class="container">
    <form action="/signup" method="post" class="form-example">
        <div class="form-example">
            <label for="username">Enter your name: </label>
            <input type="text" name="name" id="name" required>
        </div>
        <div class="form-example">
            <label for="password">Enter your password: </label>
            <input type="password" name="password" id="password" required>
        </div>
        <div class="form-example">
            <input type="submit" value="Sign Up">
        </div>
    </form>
</main>